extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7   
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras blandit, eros ac vestibulum accumsan, elit dolor iaculis sapien, eget sagittis est risus in nisl. In consequat congue mauris, non varius neque auctor a. Sed laoreet, erat in maximus pellentesque, est turpis ornare nunc, ut sollicitudin nunc mauris et arcu. Fusce maximus purus vitae turpis tristique rhoncus. 

                p In gravida lectus vel sapien vestibulum, quis suscipit velit hendrerit. Quisque nibh purus, lobortis non facilisis vel, mattis molestie magna. Sed viverra nunc a ultricies hendrerit. Phasellus ut blandit tellus, vel dignissim tortor. Proin pharetra fermentum ipsum ut luctus. Maecenas placerat ornare ipsum eget tempor. Vivamus vitae est iaculis, pellentesque lorem imperdiet, aliquet erat.

                p In aliquet erat vel dui bibendum, id mattis dui viverra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis posuere porttitor dui, at imperdiet sem posuere in. Integer semper bibendum sapien. Duis scelerisque porta scelerisque. Aenean eu lorem a mi iaculis efficitur. 

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Integer semper bibendum sapien. Duis scelerisque porta scelerisque. Aenean eu lorem a mi iaculis efficitur.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Integer semper bibendum sapien. Duis scelerisque porta scelerisque. Aenean eu lorem a mi iaculis efficitur.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Integer semper bibendum sapien. Duis scelerisque porta scelerisque. Aenean eu lorem a mi iaculis efficitur.